<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body style="background-color: #efefef">
<div style="border-radius: 10px; border:1px solid rgba(0,0,0,0.1); background-color: white; color:#303030; padding: 30px; margin:0 auto; width: 500px; font-family: 'Noto Sans KR', sans-serif, cursive">

  <div style="width:100%; margin:0 auto; text-align: center">
    <img style="margin:16px;" src="https://d2q9yzkd471o7j.cloudfront.net/logo/logo_vertical.png?w=150&h=85"
         width="150" height="85" alt="logo_vridge"/>
  </div>

  <div style="margin-top:20px; margin-left: 20px">
    <p style="font-weight: bold">안녕하세요! <span style="color:#2e67af">AI 클라우드 플랫폼 브릿지</span> 입니다.</p>
  </div>

  <br>

  <div style="width:100%; text-align: left; margin: auto; border: 1px solid lightgray; box-shadow: 1px 1px 3px ; solid-opacity: 0.5">
    <div style="margin-left: 20px;">
      <p style="font-size: 18px; font-weight: bold; padding-top: 20px; padding-bottom: 20px" th:text="${header}"></p>
      <div style="font-size: 14px; font-weight: bold">프로젝트 이름</div>
      <div style="font-size: 16px; padding-bottom: 10px" th:text="${orgName}"></div>
      <div style="font-size: 14px; font-weight: bold">작업자</div>
      <div style="font-size: 16px; padding-bottom: 10px" th:text="${projectName}"></div>

      <br>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <button style="width:100%; margin:0 auto; text-align: center; display: flex; justify-content: space-between; border: 2px solid #1e88e5; background-color: white;">
    <a target="_blank" href="https://vridge.vazil.me/"
       style="font-size:16px; margin:0 auto; padding: 10px 20px 10px 20px; cursor:pointer; color:#1e88e5; text-decoration: none; font-weight: bold;">
      VRIDGE 바로가기
    </a>
  </button>

  <br><br>
</div>
</body>
</html>